html {
    margin: auto;
    width: 80%;
}

.nav {
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}

img {
    width: 100%;
    padding: 0;
    pointer-events: none;
}

.content {
    background-color: var(--element);
}

#intro {
    grid: auto / 1fr 3fr;
}

em,
strong {
    padding: 0;
}

.bold {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.card {
    background-color: var(--element);
    grid: auto / 1fr 3fr;
}

p {
    text-align: left;
}

p>a,
span {
    padding: 0;
    background-color: transparent;
}

.footer p {
    background-color: light-dark(var(--light-accent), var(--dark-accent));
}

iframe {
    width: 100%;
    aspect-ratio: 2/1;
}

#phoneNav {
    display: none;
}

@media (orientation: portrait) {
    html {
        width: 100%;
    }
    
    .nav {
        display: none;
    }

    #intro {
        grid: auto / 1fr;
    }

    #works {
        grid: auto / 1fr;
    }

    iframe {
        width: 100%;
        aspect-ratio: 1/2;
    }

    .card {
        grid: auto / 1fr;
    }

    #phoneNav {
        display: block;
    }

    #main-heading {
        display: none;
    }

    img {
        width: 50%;
        margin: auto;
    }
}