html {
    margin: auto;
    width: 80%;
}

.nav {
    grid: auto / 1fr 2fr 2fr 2fr 2fr 1fr;
}

.nav * {
    background-color: var(--accent-element);
    height: 100%;
}

.logo,
img {
    width: 100%;
    padding: 0;
}

#bio {
    grid: auto / 1fr 3fr;
}

#bio h1 {
    grid-column: 1 / span 2;
}

#bio p {
    width: 100%;
    height: 100%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.card {
    background-color: var(--element);
    grid: auto / 1fr 3fr;
}

p {
    text-align: left;
}

p *,
span {
    padding: 0;
    background-color: transparent;
}

iframe {
    width: 100%;
    aspect-ratio: 2/1;
}

footer {
    background-color: transparent;
    padding: 0;
}

footer * {
    background-color: transparent;
    text-align: center;
}

@media (orientation: portrait) {
    html {
        width: 100%;
    }

    #bio {
        grid: auto / 1fr;
    }

    #bio h1 {
        grid-column: 1;
    }

    img {
        width: 50% !important;
    }

    .nav {
        grid: auto / 1fr 1fr 1fr;
    }

    #works,
    #events,
    .card {
        grid: auto / 1fr;
    }

    iframe {
        width: 100%;
        aspect-ratio: 1/2;
    }

    img {
        width: 50%;
        margin: auto;
    }
}