html {
    margin: auto;
    min-width: 80%;
    width: 80%;
}

.header-link {
    padding: 0;
}

.nav {
    grid: auto / auto auto;
}

.nav * {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

img {
    width: 100%;
}

#bio {
    grid: auto / 1fr 3fr;
    background-color: light-dark(var(--light-2), var(--dark-2));
}

em,
strong {
    padding: 0;
}

em {
    font-style: italic;
}

#works {
    grid: auto / 1fr 1fr 1fr;
}

.work {
    height: 100%;
    padding: var(--base-unit);
    background-color: light-dark(var(--light-2), var(--dark-2))
}

@media (hover: none) {
    html {
        width: 100%;
    }

    #bio {
        grid: auto / 1fr;
    }

    #works {
        grid: auto / 1fr;
    }
}

p>a {
    padding: 0;
}