.nav {
    display: flex;
}

.nav * {
    background-color: var(--accent-element);
}

img {
    width: 50%;
    padding: 0;
    margin: auto;
}

button * {
    border: none;
}

a {
    display: flex;
}

#announcements,
#eventList,
.card div {
    padding: 0;
    background-color: transparent;
    border: none;
}

#bio {
    grid: auto / 1fr 3fr;
}

#bio h1 {
    grid-column: 1 / span 2;
}

#bio p {
    width: 100%;
    height: 100%;
}

.card {
    background-color: var(--element);
    grid: auto / 1fr 3fr;
}

.card p, .card h1 {
    border: none;
}

p {
    text-align: left;
}

p *,
span {
    display: inline;
    padding: 0;
    background-color: transparent;
}

footer {
    padding: 0;
    border: none;
}

footer * {
    background-color: transparent;
    text-align: center;
}

@media (orientation: portrait) {
    #bio h1 {
        grid-column: 1;
    }

    #bio,
    #works,
    #events,
    .card {
        grid: auto / 1fr;
    }

    img {
        width: 30%;
    }
}